<html>
  <head>
    <title>status.mizucoffee.net</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      const json = [<%= data %>];

      let array = [['time','ping']];
      for (var i=json.length;i >= 0;i--){
        array.push([`${i+1}hours ago`,json[i]])
      }

      function drawChart() {
        var data = google.visualization.arrayToDataTable(array);

        var options = {
          legend: { position: 'bottom' },
          vAxis: {
            viewWindowMode:'explicit',
            viewWindow: {
              max:500,
              min:0
            },
            ticks: [0,100,200,300,400,500]
          }
        }

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h1>status.mizucoffee.net</h1>
    <hr>
    <h2>neofetch</h2>
    <div class="center"><%- neofetch %></div>
    <hr>
    <h2>versions</h2>
    <div class="center">
      Node.js: <%- versions.nodejs %><br>
      Java: <%- versions.java %>
    </div>
    <hr>
    <h2>status</h2>
    <h3>24h Twiback Response Time</h3>
    <div id="curve_chart" class="center" style="width: 600px; height: 150px"></div>
  </body>
</html>
