<html>
  <head>
    <title>status.mizucoffee.net</title>
  </head>
  <body>
    <h2>neofetch</h2>
    <%- neofetch %>
    <h2>versions</h2>
    Node.js: <%- versions.nodejs %><br>
    Java: <%- versions.java %>
  </body>
</html>
